.drawings-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hide {
        display: none;
    }

    .drawings-outer-content {
        padding-top: 40px;
        min-width: 400px;
        width: 90vw;
        display: block;
        width: 90vw;

        .drawings-container {

            & > h4 {
                background: black;
                padding: 4px;
                display: inline-flex;
                margin-bottom: 4px;
            }
            &:first-child {
                margin-right: 40px;
            }
        }

        > .generic-drawings .drawings-window-content-wrapper {
            grid-template-columns: auto;
        }

        > h4 {
            margin-bottom: 4px;
            background: white;
            color: black;
            padding: 2px 4px;
            display: inline-block;
        }

        .new-drawing {
            padding: 20px;
            background: yellow;
            margin-top: 4px;
            cursor: pointer;
            position: relative;
            display: inline-flex;

            &:hover {
                background: black;

                & .init-container > h4 {
                    color: yellow;
                }
            }

            .init-container {
                > h4 {
                    text-align: center;
                    color: black;
                }

                .touch-el {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

            }

            

            > .data-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: white;
                display: none;
                justify-content: center;
                align-items: center;

                &.visible {
                    display: flex;
                }

                .input-title-container {
                    display: flex;

                    > input {
                        border: none;
                        background: black;
                        color: white;
                        padding: 4px 6px;
                        font-size: 14px;
                        margin-right: 4px;
                    }

                    > button {
                        margin-left: 4px;
                        background: black;
                        border: 0;
                        border-radius: 0;
                        color: white;
                    }
                }
            }
        }
    }

    .drawings-window-content-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 12px;

        &.no-drawings {
            grid-template-columns: auto;
        }

        > h4 {
            color: black;
            text-align: center;
        }

        .drawings-item {
            padding: 20px 24px;
            background: white;
            cursor: pointer;
            position: relative;

            &:hover {
                background: rgba(250,250,250,.98);  
            }

            &:last-child {
                margin-bottom: 0;
            }

            .top-row {
                display: flex;
                margin-bottom: 14px;

                .block-with-pre {
                    margin-left: 10px;
                    
                    &:first-child {
                        margin-left: 0;
                    }

                    > h5 {
                        color: black;
                        margin-bottom: 2px;
                    }

                    > h4 {
                        background: black;
                        padding: 4px;
                        display: inline-block;
                    }

                    &.type {
                        > h4 {
                            background: transparent;
                            color: black;
                            border: 2px solid black;
                            padding: 2px 4px;
                        }
                    }
                }
            }

            
            > .drawing-info {
                > h5 {
                    color: black;
                    margin-bottom: 4px;
                }
            }
            

            > .click-cover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .delete-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                background: red;
                color: white;
                padding: 6px 8px;
                cursor: pointer;
            }
        }

    }
}