.new-project-dialog {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    top: 0;
    left: 0;
    
    &.hidden {
        display: none;
    }

    .inner-content {
        padding: 20px 20px;
        background: black;
        width: 400px;

        .title-container {
            margin-bottom: 20px;
            > h4 {
                padding: 4px 6px;
                border-bottom: 1px solid white;
                font-size: 16px;
                margin-bottom: 19px;
                display: inline-flex;
            }

            & > input {
                margin-top: 2px;
                padding: 6px 6px;
                border: 0;
                font-size: 12px;
                width: 100%;
                box-sizing: border-box;
                background: #1b1c1e;
                color: black;
                background: yellow;
                font-weight: 700;
                border-bottom: 2px solid yellow;
                
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: black;
                    opacity: .6;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: black;
                    opacity: .6;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: black;
                    opacity: .6;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: black;
                    opacity: .6;
                }
            }
        }

        .dropdown-container {
            margin-bottom: 30px;

            & > .dropdown {
                width: auto;
            }
        }

        > .btn-container {
            display: flex;
            justify-content: space-between;
            > button {
                background: yellow;
                border: 0;
                padding: 10px 16px;
                margin-right: 10px;
                cursor: pointer;
    
                &:last-child{
                    margin-right: 0;
                }
    
                > h5 {
                    color: black;
                }

                &[disabled] {
                    opacity: .1;
                    pointer-events: none;
                }

                &.cancel-btn {
                    background: none;

                    > h5 {
                        color: yellow;
                    }

                    &:hover {
                        background: yellow;

                        > h5 {
                            color: black;
                        }
                    }
                }
            }
        }

        
    }
}