.node.triangle-node > .node-inner {
    & > h4 {
        color: black;
        position: relative;
        margin-top: 4px;
        font-size: 10px;
    }
}

.node-param-container.angle-1 {
    & .node-inner > h4 {
        transform: rotate(180deg);
    }
}

.node > .nonagon-node > .visual-amount-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: yellow;
    width: 50px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    border: 2px solid black;

    & > h4 {
        color: black;
    }
}