.tab-item {
    background: yellow;
    margin-right: 2px;
    padding: 4px 10px;
    position: relative;

    &.selected {
        .touch-layer {
            background: transparent;
        }
    }

    .tab-title {
        color: black;
    }
    
    .touch-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
    }
}

