.selected-node-window {
    position: absolute;
    bottom: 19px;
	left: 0;
    z-index: 2;
    background: black;

    .content {
        padding: 14px;
    }

    .info-container {
        margin-bottom: 6px;

        > h4 {
            margin-top: 4px;
            color: yellow;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}