.node-settings.shape-modifier-node {
    flex-direction: column;
    .slider-row {
        width: 100%;
        display: flex;
        justify-content: center;

        .vertical-slider {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .visual-helper-settings {
        padding: 5px;

        .toggle-visibility {
            width: 20px;
            height: 20px;
            background: yellow;
            margin-top: 10px;
            cursor: pointer;
            opacity: 0.4;
            border-radius: 4px;

            &.enabled {
                opacity: 1;
            }
        }
    }

    .center-point-settings {
        padding: 5px;
        margin-left: 40px;
    }

    .toggle-start {
        color: black;
        display: block;
        background: yellow;
        padding: 6px 20px;
        border-radius: 4px;
        margin-top: 50px;

        > h4 {
            color: black;
        }
    }
}