.status-window {
    position: absolute;
    top: 0;
    left: 300px;
    padding: 10px 14px;
    background: black;
    color: yellow;
    z-index: 2;
    transform: translateY(-100%);
    transition: transform .3s;
    display: flex;
    align-items: center;

    > h4 {
        color: yellow;
    }

    > p {
        > span {
            font-style: italic;
            color: yellow;
        }
    }

    > button {
        padding: 4px 8px;
        background: yellow;
        border: 0;
        color: black;
        margin-left: 8px;
        cursor: pointer;

        > p {
            color: inherit;
        }
    }

    &.unsaved {
        transform: translateY(0);
        > p > span {
            color: red;
        }
    }
}