.settings-window {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    transform: translateY(-100%);
    transition: transform 0.4s;

    .label-btn {
        position: absolute;
        bottom: -27px;
        left: 0;
        background: white;
        padding: 8px;
        cursor: pointer;

        > h5 {
            color: black;
        }
    }

    &.visible {
        transform: translateY(0);
    }

    .close-fullscreen-btn {
        position: absolute;
        left: -40px;
        top: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: none;

        &.visible {
            display: block;
        }

        &::after {
            content: '';
            height: 2px;
            width: 100%;
            background: yellow;
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -50%;
        }

        &::before {
            content: '';
            height: 2px;
            width: 100%;
            background: yellow;
            transform: rotate(-45deg);
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -50%;
        }
    }

    & .bottom-part-settings {
        z-index: 1;
        display: flex;
        padding: 10px;

        .settings-col {
            &:first-child {
                margin-right: 10px;
            }
        }
    }

    .settings-item {
        background: rgba(0,0,0,.1);
        padding: 10px;
        margin-bottom: 10px;

        > h4 {
            color: black;
        }
        
        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.3);
        }

        &.enabled {
            background: rgba(0, 0, 0, 0.3);
        }
    }

    & .follow-node-setting {
        opacity: 0.2;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        &.active {
            opacity: 1;
            cursor: pointer;

            &:hover {
                background: rgba(0, 0, 0, 0.3);
            }
        }
    }

    & .camera-control-setting{
		color: white;
		align-items: center;
        position: relative;
        display: flex;
        justify-content: space-between;
		cursor: pointer;
    }

    .toggle-orbit-helper {
        cursor: pointer;
    }

    .speed-settings {
        .range-container .range-inner-container .range-knob {
            background: black;
        }

        .value-display {
            color: black;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
    
    .ambient-light {
        .range-container .range-inner-container .range-knob {
            background: black;
        }

        .value-display {
            color: black;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }

	& .axes-helper-setting{
		color: white;
		align-items: center;
        position: relative;
        display: flex;
        justify-content: space-between;
		cursor: pointer;
	}
}