.dropdown {
    width: 140px;
    height: 70px;
    position: relative;
    overflow: hidden;

    > h4 {
        padding-left: 3px;
        margin-bottom: 10px;
    }

    > .upper-row-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
        border-bottom: 2px solid yellow;
        padding-bottom: 6px;
        align-items: flex-end;
        padding-left: 3px;
        padding-right: 3px;

        > .reset-btn {
            background: yellow;
            padding: 4px;
            border-radius: 3px;
            cursor: pointer;

            > h5 {
                color: black;
            }
        }
    }

    .selected-container {
        margin-top: 10px;
        margin-bottom: 13px;

        > h4 {
            padding: 3px 4px;
        }
    }

    .list-container {
        width: calc(100% - 30px);
        height: auto;
        background: yellow;
        
        .list-item {
            padding: 4px 4px;
            cursor: pointer;
            position: relative;

            > h4 {
                color: black;
            }

            > .touch-layer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &.selected {
                background: black;

                > h4 {
                    color: yellow;
                }
            }

            &:hover {
                background: black;
                > h4 {
                    color: yellow;
                }
            }
        }
    }

    .arrow-toggle-container {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 9px;
        bottom: 12px;
        background: black;
        cursor: pointer;

        > img {
            transition: transform .2s;
        }
    }

    &.open {
        overflow: initial;

        .arrow-toggle-container {
            > img {
                transform: rotate(180deg);
            }
        }
    }
}