$mobile      : 'only screen and (max-width : 767px)';


html, body {
	width:100%;
	height: 100%;
	margin:0;
	padding:0;

	// overflow:hidden;
	position: relative;
	background: #1b1c1e;
	font-size: 12px;
}

h1, h2, h3, h4, h5, p{
	margin: 0;
	color: white;
}

p{
	font-size: .8rem;
}

.glslCanvas, canvas{
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: rgba(0,0,0,.8);
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

h1,h2,h3,h4,h5,text,p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-webkit-font-smoothing: antialiased;
	font-family: Arial;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
	font-family: Arial;
}

button {
	border: 0;
    border-radius: 0;
    padding: 6px 12px;
	background: yellow;
	cursor: pointer;

}

.main-title {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    white-space: nowrap;
    color: #1e1f21;
}

.user-window {
	position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: black;
    transform: translateY(-100%);
    transition: transform .4s;
    color: white;
    z-index: 4;
    cursor: pointer;

    &.show {
    	transform: translateY(0);
    }

    .username-container {
    	position: relative;

    }

    .logout-modal {
		position: absolute;
	    top: 100%;
	    left: 50%;
	    padding: 10px;
	    transform: translate3d(-50%, -100%, 0);
	    // transition: transform .4s;
	    color: white;
	    display: none;

		.logout-btn {
			padding: 6px 10px;
		    background: yellow;
		    border-radius: 4px;
		    color: black;
		    cursor: pointer;
		    display: inline-block;
		    white-space: nowrap;
		}


	    &.show {
	    	transform: translate3d(-50%, 0%, 0);
	    	display: block;
	    }
	}
}

.control-ui{
	position: fixed;
	bottom: 20%;
	left: 5%;
	padding: 5px;
	background: white;
	z-index: 2;
	.control-ui-inner{
		display: flex;
		width: calc(3 * 4vw + 10 * 3px);
		flex-wrap: nowrap;
        margin:-10px;
	}

	.control-btn{
		
		// background: black;
		flex: 1;
        margin: 10px;
        height: 3.4vw;
		cursor: pointer;
		position: relative;

        > img{
        	width: 100%;
        	height: auto;

        }

        .control-disabled{
        	position: absolute;
        	background: rgba(255,255,255,.8);
        	opacity: 0;
        	width: 100%;
        	height: 100%;
        	top: 0;
        }

        &.disabled{
        	.control-disabled{

        		opacity: 1;
        	}
        }
	}
}

.workspace-scale {
	position: absolute;
	top: calc(50% - 60px);
	left: 20px;
	width: 40px;
	z-index: 2;

	& .range-container {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	& .range-inner-container {
		width: 10px;
		// height: 100px;
		background: black;
		position: relative;

		& .range-knob {
			position: absolute;
			top: 0;
			left: 50%;
			width: 20px;
			height: 8px;
			background: yellow;
			margin-left: -10px;
		}
	}

	& .value-container {
		position: absolute;
		bottom: -25px;
		right: 1px;
		color: yellow;
		font-family: Arial;
		width: 100%;
		text-align: center;
	}
}

.workspace-container{
	overflow: hidden;
    position: relative;
    .workspace{
		position: absolute;
		top: 0;
		left: 0;
		/*background: radial-gradient(#e66465, #9198e5);
		background: #1b1c1e;
		opacity: 0;*/
	    z-index: 2;
	}
}

.global-audio-settings {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	background: rgba(0,0,0,.8);
	color: white;
	display: flex;
	border-top-right-radius: 6px;
	z-index: 3;
}

.wave-type-container {
	display: flex;
    justify-content: space-between;
}

.wave-type-selector-container {
	margin-left: 5px;

	.wave-type-label {
		color: white;
		font-size: 10px;
    	margin-bottom: 6px;
	}

	.wave-types-container {
		width: 75px;
    	color: white;
    	padding: 5px;
		background: rgb(60,60,60);
		border-radius: 4px;

    	.wave-type {
    		margin-bottom: 2px;
    		cursor: pointer;

    		&.active {
    			color: yellow;
    		}
    	}
	}
}

.node-stepper {
	> h4 {
		text-align: center;
	}
	
	.control-wrapper {
		display: flex;
		align-items: center;
	}

	.left-container {
		padding: 10px;
		padding-left: 0;
		margin-right: 6px;

		.node-stepper-control {
			color: black;
			width: 26px;
			height: 26px;
			background: white;
			margin-bottom: 9px;
			line-height: 8px;
			font-size: 18px;
			text-align: center;
			padding-top: 8px;
			font-weight: 900;
			border-radius: 2px;
			cursor: pointer;
			user-select: none;
			-webkit-user-select: none;
			transform: scale(1);

			&:active {
				transform: scale(.98);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.node-stepper-input {
		height: 40px;
		background: rgba(255,255,255,.1);
		color: white;
		border: 0;
		border-radius: 4px;
		padding: 4px;
	    font-size: 16px;
	    width: 50px;
	    text-align: center;
	}

	.input-set-button {
		padding: 6px;
		background: yellow;
		border-radius: 4px;
		margin-left: 8px;
		cursor: pointer;
		color: rgb(20, 20, 20);
		transform: scale(1);
		user-select: none;
		-webkit-user-select: none;
		&:active {
			transform: scale(.98);
		}
	}
}

.node{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 0;
	left: 0;
	cursor: grab;
	display: flex;
    flex-direction: column;
	border-radius: 3px;
	z-index: 0;

	&.center-group {
		top: 50%;
		left: 50%;
		z-index: 4;

		& .group-hide-layer {
			position: absolute;
			top: -100px;
			left: -100px;
			width: 400px;
			height: 400px;
			background: #1b1c1e;
			display: none;
			z-index: 2;
			border: 1px dashed black;

			&.visible {
				display: block;
			}
		}
	}

	& .node-upper {
		position: absolute;
		top: -75px;
		width: 100%;
		display: flex;
		justify-content: center;

		&.chemistry {
			top: -50px;
		}
	}

	& .node-inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-origin: center -12%;
		transition: transform .2s;

		> svg {
			fill: rgba(0,0,0,.8);
		}

		&.nonagon-node {
			padding: 4px;
			> svg {
				position: absolute;
				top: 0;
				left: 0;
			}
	
			> img {
				position: absolute;
				width: 50px;
				top: 50%;
				left: 50%;
				margin-left: -25px;
				margin-top: -25px;
			}
		}

		& .node-param-container {
			width: 60px;
			height: 140px;
			position: absolute;
			// background: rgba(255,255,255,0.3);
			top: 50%;
			left: 50%;
			margin-top: -140px;
			margin-left: -30px;
			transform-origin: center bottom;
			
			> svg {
				fill: rgba(255, 255, 255, 0.05);
				position: absolute;
				top: 10px;
				left: 10px;
			}
		
			.modifier-node {
				position: absolute;
				top: 10px;
				left: 10px;
			}
		
			.inner-param-container {
				text-align: center;
				position: absolute;
				bottom: 0;
				height: 70px;
				width: 100%;
		
				> h5 {
					color: yellow;
					margin-top: 10px;
				}
			}
		
			.detail-param-container {
				position: absolute;
				top: -10px;
				display: flex;
				justify-content: center;
				width: 100%;
			}
		}

		&.triangle-shape {
			& .node-param-container {
				height: 120px;
				margin-top: -120px;

				.inner-param-container {
					height: 56px;
				}
			}
		}
	}

	&.selected {
		z-index: 10;
		& .node-inner > svg > g > .outline {
			stroke: white;
			stroke-width: 2px;
		}
	}
	
	&:active{
		cursor: grabbing;
	}

	& .node-type{
		position: absolute;
		top: -20px;
		color: white;
	}

	&.signal-math-node{
		width: 60px;
		height: 30px;
	}

	&.triangle-node {
		width: 44px;
		height: 44px;
		justify-content: center;
		align-items: center;
		padding: 0px;

		> .node-inner {
			position: relative;
			transform-origin: 50% 50%;
			> svg {
				position: absolute;
				fill: yellow;
				width: 100%;
			}
		}

		

		&.selected {
			> .node-inner > svg {
				stroke: white;
				stroke-width: 2px;
			}
		}

		& > .node-inner {
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;

			> img {
				width: 21px;
				height: auto;
				margin-top: 2px;
				position: relative;
			}
		}
	}
}

.node-component{
	transition: opacity .4s;
	&.right-align{
		text-align: right;
	}

	&.not-possible {
		opacity: 0;
	}
}

.node-param-header {
	color: yellow;
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 8px;
}

.node-param{
	& .label{
		color: white;
		white-space: nowrap;
		margin-right: 5px;
	}

	&:last-child {
		& .label {
			margin-right: 0;
		}
	}

	&.active{
		& .label {
			color: yellow;
		}
	}
}

.param-container{
	margin: 2% auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
	height: 200px;
	flex-wrap: wrap;
}

.node-range{
	width: 30px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin-right: 20px;
	&:last-child {
    	margin-right: 0;
    }

	& .node-range-slider-bg{
		background: black;
		position: relative;
		width: 70%;
		height: 60%;
		cursor: pointer;
	}

	& .node-range-knob{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		background: yellow;
	}
}

.range-slider-container{
	width: 80%;
	height: 90%;
	margin: 2% auto;
	display: flex;
	justify-content: space-between;
	
}

.horizontal-slider {
	text-align: center;
	& .horizontal-slider-label {
		color: white;
		margin-bottom: 10px;
	}
	& .range-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 0 !important;
		width: 120px !important;

		& .range-inner-container {
			height: 10px;
			width: 120px;
			background: black;
			position: relative;

			& .range-knob {
				position: absolute;
				top: 50%;
				left: 0;
				width: 8px;
				height: 20px;
				background: yellow;
				margin-top: -10px;
			}
		}
	}

	& .value-container{
		margin-top: 4px;
		display: inline-block;

		& .value-display{
			color: yellow;
			padding: 5px 10px;
			width: 70px;
			font-family: Arial;
		}
	}
}


.waveform-node {
	& .top-part {
		position: relative;
		padding: 0;
		height: 100px;
		width: 100%;

		& .waveform-canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.color-node {
	& .top-part {
		display: flex;
		justify-content: center;
		height: 100px;
		align-items: center;
		padding-left: 10px;

		& .color-picker-parent {
			display: flex;
			align-items: center;
			margin-top: 0px;

			& > h4 {
				font-size: 12px;
				color: white;
			}

			& .color-preview {
				width: 20px;
				height: 20px;
				background: white;
				margin-left: 10px;
				border-radius: 11px;
			}
		}

		&.hide {
			& .color-picker-parent {
				margin-top: 40px;
			}
		}
	}
}

.sequencer{
	width: 354px;
	height: 310px;
	& .top-part{
		height: 270px;
		padding-left: 10px;
		position: relative;
	}

	& .bottom-part{
		height: 40px;
	}

	& .sequencer-controls {
		position: absolute;
		top: -41px;
		height: 40px;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		left: 50%;
		margin-left: -60px;
		width: 120px;
		background: #2b2c2d;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom: 1px solid #1B1C1E;

		& .inner-controls {
			display: flex;
			justify-content: space-between;

			> h5 {
				padding: 4px 8px;
				color: yellow;
				cursor: pointer;

			}
		}

	}

	& .sequencer-container{
		display: flex;
		flex-wrap: wrap;
		& .sequencer-col{
			width: 18px;
			display: flex;
			flex-wrap: wrap;
			margin-right: 3px;
			&:last-child {
				margin-right: 0;
			}
			&.active{
				& .sequencer-btn{
					background: rgba(230,230,230, .05);
					&.active{
						background: white;
					}
				}
			}

		}
		& .sequencer-btn{
			width: 18px;
			height: 18px;
			background: black;
			cursor: pointer;
			margin-bottom: 3px;
			&.active{
				background: #db664c;
			}
		}
	}
}

.texture-selector-node {
	& .wrapper {
		margin-left: 10px;
		color: white;
		margin-top: 10px;

		& .children-container {
			> h4 {
				margin-bottom: 10px;
				text-transform: capitalize;
			}

			& .child-wrapper {
				margin-left: 5px;
				margin-bottom: 5px;
				cursor: pointer;
				opacity: .8;

				&.active{
					color: yellow;
					opacity: 1;
				}

			}
		}
	}
}

.window {
	background: black;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	> h5 {
		color: yellow;
	}
}

.window-manager {
	z-index: 3;
}


