$mobile      : 'only screen and (max-width : 767px)';


html, body {
	width:100%;
	height: 100%;
	margin:0;
	padding:0;

	// overflow:hidden;
	position: relative;
	background: #1b1c1e;
	font-size: 12px;
}

h1, h2, h3, h4, h5, p{
	margin: 0;
}

p{
	font-size: .8rem;
}

.editor{
	max-width: 700px;

	& .CodeMirror-linebackground{
		&.errorBg{
			background: rgba(240, 10, 10, .8);
		}
	}
}

.glslCanvas, canvas{
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: rgba(0,0,0,.8);
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

h1,h2,h3,h4,h5,text,p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-webkit-font-smoothing: antialiased;
	font-family: Arial;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.user-window {
	position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: black;
    transform: translateY(-100%);
    transition: transform .4s;
    color: white;
    z-index: 4;
    cursor: pointer;

    &.show {
    	transform: translateY(0);
    }

    .username-container {
    	position: relative;

    }

    .logout-modal {
		position: absolute;
	    top: 100%;
	    left: 50%;
	    padding: 10px;
	    transform: translate3d(-50%, -100%, 0);
	    // transition: transform .4s;
	    color: white;
	    display: none;

		.logout-btn {
			padding: 6px 10px;
		    background: yellow;
		    border-radius: 4px;
		    color: black;
		    cursor: pointer;
		    display: inline-block;
		    white-space: nowrap;
		}


	    &.show {
	    	transform: translate3d(-50%, 0%, 0);
	    	display: block;
	    }
	}

    
}



.sign-in {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 4;
	// transform: translate3d(-50%, -50%, 0);
	margin-left: -150px;
	margin-top: -100px;
	width: 300px;
	height: 240px;
	padding: 14px 24px;
	background: white;
	text-align: right;
	transition: transform .2s, opacity .2s;

	.error-message {
		color: red;
		font-size: 14px;
		margin-bottom: 10px;
	}

	.input-container {
		width: 100%;
		margin-bottom: 10px;
		text-align: left;
		& > input {
			margin-top: 2px;
			padding: 6px;
			border: 0;
			font-size: 12px;
			width: 100%;
			box-sizing: border-box;
			background: #1b1c1e;
			color: white;

		}
	}

	.sign-in-button {
		margin-top: 20px;
		padding: 10px 14px;
		background: #1b1c1e;
		color: white;
		font-size: 14px;
		display: inline-block;
		cursor: pointer;
	}
}

.control-ui{
	position: fixed;
	bottom: 20%;
	left: 5%;
	padding: 5px;
	background: white;
	z-index: 2;
	.control-ui-inner{
		display: flex;
		width: calc(3 * 4vw + 10 * 3px);
		flex-wrap: nowrap;
        margin:-10px;
	}

	.control-btn{
		
		// background: black;
		flex: 1;
        margin: 10px;
        height: 3.4vw;
		cursor: pointer;
		position: relative;

        > img{
        	width: 100%;
        	height: auto;

        }

        .control-disabled{
        	position: absolute;
        	background: rgba(255,255,255,.8);
        	opacity: 0;
        	width: 100%;
        	height: 100%;
        	top: 0;
        }

        &.disabled{
        	.control-disabled{

        		opacity: 1;
        	}
        }
	}
}

.workspace-scale {
	position: absolute;
	top: calc(50% - 60px);
	left: 20px;
	width: 40px;
	z-index: 2;

	& .range-container {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	& .range-inner-container {
		width: 10px;
		// height: 100px;
		background: black;
		position: relative;

		& .range-knob {
			position: absolute;
			top: 0;
			left: 50%;
			width: 20px;
			height: 8px;
			background: yellow;
			margin-left: -10px;
		}
	}

	& .value-container {
		position: absolute;
		bottom: -25px;
		right: 1px;
		color: yellow;
		font-family: Arial;
		width: 100%;
		text-align: center;
	}
}

.workspace-container{
	overflow: hidden;
    position: relative;
    .workspace{
		position: absolute;
		top: 0;
		left: 0;
		/*background: radial-gradient(#e66465, #9198e5);
		background: #1b1c1e;
		opacity: 0;*/
	    z-index: 2;
	}
}

.global-audio-settings {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	background: rgba(0,0,0,.8);
	color: white;
	display: flex;
	border-top-right-radius: 6px;
	z-index: 3;
}

.wave-type-container {
	display: flex;
    justify-content: space-between;
}

.wave-type-selector-container {
	margin-left: 5px;

	.wave-type-label {
		color: white;
		font-size: 10px;
    	margin-bottom: 6px;
	}

	.wave-types-container {
		width: 75px;
    	color: white;
    	padding: 5px;
		background: rgb(60,60,60);
		border-radius: 4px;

    	.wave-type {
    		margin-bottom: 2px;
    		cursor: pointer;

    		&.active {
    			color: yellow;
    		}
    	}
	}
}

.node-stepper {
	> h4 {
		text-align: center;
	}
	
	.control-wrapper {
		display: flex;
		align-items: center;
	}

	.left-container {
		padding: 10px;
		padding-left: 0;
		margin-right: 6px;

		.node-stepper-control {
			color: black;
			width: 26px;
			height: 26px;
			background: white;
			margin-bottom: 9px;
			line-height: 8px;
			font-size: 18px;
			text-align: center;
			padding-top: 8px;
			font-weight: 900;
			border-radius: 2px;
			cursor: pointer;
			user-select: none;
			-webkit-user-select: none;
			transform: scale(1);

			&:active {
				transform: scale(.98);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.node-stepper-input {
		height: 40px;
		background: rgba(255,255,255,.1);
		color: white;
		border: 0;
		border-radius: 4px;
		padding: 4px;
	    font-size: 16px;
	    width: 50px;
	    text-align: center;
	}

	.input-set-button {
		padding: 6px;
		background: yellow;
		border-radius: 4px;
		margin-left: 8px;
		cursor: pointer;
		color: rgb(20, 20, 20);
		transform: scale(1);
		user-select: none;
		-webkit-user-select: none;
		&:active {
			transform: scale(.98);
		}
	}
}

.node-top-options {
	position: absolute;
	top: -22px;
	right: 0px;
	display: flex;

	.node-remove {
		padding: 4px;
		background: black;
		color: white;
		cursor: pointer;
		border: 1px solid black;
		&:hover {
			border: 1px solid white;
		}
	}

	.node-toggle-collapse {
		padding: 4px;
		color: white;
		cursor: pointer;
		margin-right: 6px;
		color: black;
		cursor: pointer;
		border: 1px solid yellow;
		background: yellow;
		&:hover {
			border: 1px solid black;
		}
	}
}

.node{
	position: absolute;
	width: 200px;
	height: 100px;
	background: white;
	top: 0;
	left: 0;
	cursor: grab;
	display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: #2b2c2d;

	&:active{
		cursor: grabbing;
		z-index: 3;
	}

	& .node-type{
		position: absolute;
		top: -20px;
		color: white;
	}

	&.signal-math-node{
		width: 60px;
		height: 30px;
	}

	& .top-part{
		width: 100%;
    	height: 60%;
    	padding: 10px;
    	padding-left: 0;
    	& .collapsed-param {
    		display: none;
    		position: absolute;
    	}

    	&.hide {
    		margin-bottom: 10px;
    		height: 10px;
    		overflow: hidden;

    		& .node-param{
    			position: absolute;

    			& .label{
    				opacity: 0;
    			}
    		}

    		& .collapsed-param {
	    		display: flex;

	    		& .label {
	    			opacity: 1;
	    		}
	    	}

    		& .node-param-header{
    			display: none;
    		}
    	}
	}

	& .bottom-part{
		border-top: 2px solid #222223;
		width: 100%;
    	height: 40%;
    	display: flex;
    	justify-content: space-between;
    	padding: 10px;
    	padding-right: 0;
    	padding-left: 0;
		align-items: center;

		& .node-resizer{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 40px;
			height: 40px;
			overflow: hidden;

			& .node-resizer-inner {
				position: absolute;
				top: 20px;
				left: 20px;
				width: 100%;
				height: 100%;
				background: yellow;
				transform: rotate(45deg);
				transform-origin: 50% 50%;
				cursor: nwse-resize;
			}
		}

		&.multiple-inputs{
			display: block;
			& .node-input {
				margin-bottom: 10px;
			}
		}

		& .multiple-outputs{
			& .node-output {
				margin-top: 10px;
				&:first-child{
					margin-top: 0;
				}
			}
		}
	}
}

.node-component{
	display: flex;
	flex: 1;
	transition: opacity .4s;
	&.right-align{
		text-align: right;
	}

	& .dot{
		width: 10px;
		height: 10px;
		border-radius: 5px;
		border: 2px solid red;

	}

	& .label{
		margin-right: 5px;
		margin-left: 5px;
		color: red;
	}

	&.active{
		& .dot{
			background: red;
		}
	}

	&.not-possible {
		opacity: 0;
	}
}

.node-param-header {
	color: yellow;
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 8px;
}

.node-param{
	margin-bottom: 5px;
	position: relative;
    left: -5px;
    & .dot{
    	border: 2px solid yellow;
    }

    & .label{
		color: yellow;
		white-space: nowrap;
	}

	&.active{
		& .dot{
			background: yellow;
		}
	}
}

.node-output{
	flex-direction: row-reverse;
	position: relative;
    right: -5px;
    &.param{
    	& .dot{
	    	border: 2px solid yellow;
	    }

	    & .label{
			color: yellow;
		}

		&.active{
			& .dot{
				background: yellow;
			}
		}
    }
}

.node-input{
	position: relative;
    left: -5px;
}

.node-settings{
	position: absolute;
	top: 0;
	left: 0;
	width: 260px;
	border-right: 1px solid white;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	background: #66808c;
	z-index: 3;
	transform: translate3d(-100%, 0, 0);
	&.visible{
		transform: translate3d(0, 0, 0);
	}
}

.node-library{
	position: absolute;
	top: 0;
	right: 0;
	width: 260px;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	background: rgb(10,10,10);
	z-index: 2;
	overflow: scroll;

	& .inner-scroll{
		height: 100%;
	}

	& .level-title{
		border-bottom: 1px solid rgb(60,60,60);
		margin-top: 10px;
		color: rgb(210,210,210);
		text-transform: capitalize;
	}

	& .level-1{
		margin-left: 10px;
	}

	& .node-container{
		display: flex;
		margin-top: 24px;
		flex-wrap: wrap;
	}

	& .library-node{
		width: 25%;
		margin-right: 2%;
		// height: 60px;
		background: rgb(20,20,20);
		padding: 5px;
		display: flex;
		flex-direction: column;
		padding-bottom: 10px;
		position: relative;
		cursor: pointer;
		margin-bottom: 30px; 
		& .node-type{
			color: rgb(210,210,210);
		    position: absolute;
		    top: -15px;
		    left: 0;
		    font-size: 8px;
		}

		& .node-add{
			width: 30px;
			align-self: center;
			margin-top: 5px;
		}
	}
}

.line-renderer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.param-container{
	margin: 2% auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
	height: 200px;
	flex-wrap: wrap;
}

.node-range{
	width: 30px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin-right: 20px;
	&:last-child {
    	margin-right: 0;
    }

	& .node-range-slider-bg{
		background: black;
		position: relative;
		width: 70%;
		height: 60%;
		cursor: pointer;
	}

	& .node-range-knob{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		background: yellow;
	}

	& .node-range-value{

	}
}

.range-slider-container{
	width: 80%;
	height: 90%;
	margin: 2% auto;
	display: flex;
	justify-content: space-between;
	
}

.horizontal-slider {
	text-align: center;
	& .horizontal-slider-label {
		color: white;
		margin-bottom: 10px;
	}
	& .range-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 0 !important;
		width: 120px !important;

		& .range-inner-container {
			height: 10px;
			width: 120px;
			background: black;
			position: relative;

			& .range-knob {
				position: absolute;
				top: 50%;
				left: 0;
				width: 8px;
				height: 20px;
				background: yellow;
				margin-top: -10px;
			}
		}
	}

	& .value-container{
		margin-top: 4px;
		display: inline-block;

		& .value-display{
			color: yellow;
			padding: 5px 10px;
			width: 70px;
			font-family: Arial;
		}
	}
}



.horizontal-range-slider {
	text-align: center;
	& .range-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 0 !important;
		height: 120px !important;

		& .input-container{
			width: 40%;
			& > p {
				color: yellow;
				font-size: 10px;
				margin-top: 0;
				margin-bottom: 4px;
				text-align: left;
			}

			& > input {
				width: 100%;
				height: 20px;
				padding: 5px;
				background: black;
				color: yellow;
				border: 0;
			}
		}

		& .range-inner-container {
			width: 10px;
			margin-left: 5%;
			margin-right: 5%;
			height: 100px;
			background: black;
			position: relative;

			& .range-knob {
				position: absolute;
				top: 0;
				left: 50%;
				width: 20px;
				height: 8px;
				background: yellow;
				margin-left: -10px;
			}
		}
	}

	& .value-container{
		margin-top: 10px;
		display: inline-block;

		& > p{
			color: yellow;
			margin-bottom: 4px;
			text-align: left;
		}

		& .value-display{
			background: black;
			color: yellow;
			padding: 5px 10px;
			width: 70px;
			font-family: Arial;
		}
	}
}

.waveform-node {
	& .top-part {
		position: relative;
		padding: 0;
		height: 100px;
		width: 100%;

		& .waveform-canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.color-node {
	& .top-part {
		display: flex;
		justify-content: center;
		height: 100px;
		align-items: center;
		padding-left: 10px;

		& .color-picker-parent {
			display: flex;
			align-items: center;
			margin-top: 0px;

			& > h4 {
				font-size: 12px;
				color: white;
			}

			& .color-preview {
				width: 20px;
				height: 20px;
				background: white;
				margin-left: 10px;
				border-radius: 11px;
			}
		}

		&.hide {
			& .color-picker-parent {
				margin-top: 40px;
			}
		}
	}
}

.vertical-slider {
	text-align: center;
	margin-bottom: 16px;
    background: rgb(24, 24, 24);
    border-radius: 8px;
    color: white;
	padding: 5px;
	position: relative;
	& .disabled-layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(24,24,24,.94);
		border-radius: 8px;
		display: none;
		z-index: 1;
		&.visible{
			display: block;
		}
	}
	& .vertical-slider-label{
		position: relative;
		z-index: 1;
	}
	& .range-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 0 !important;
		height: 80px !important;

		& .range-inner-container {
			width: 10px;
			margin-left: 5%;
			margin-right: 5%;
			height: 60px;
			background: black;
			position: relative;

			& .range-knob {
				position: absolute;
				top: -4px;
				left: 50%;
				width: 20px;
				height: 8px;
				background: yellow;
				margin-left: -10px;
			}
		}
	}

	& .value-container{
		display: inline-block;

		& > p{
			color: yellow;
			margin-bottom: 4px;
			text-align: left;
		}

		& .value-display{
			color: yellow;
			padding: 5px 10px;
			width: 70px;
			font-family: Arial;
		}
	}
}

.no-input-multiple-outputs{
	& .bottom-part{
		justify-content: flex-end;
	}
}

.orbit-driver-node {
	width: 290px;
	& .top-part{
		padding-right: 0;
	}
	& .settings-container-outer {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 10px;

		& .vertical-slider{
			margin-right: 8px;
		}

		& .settings-container {
			width: 40%;
			margin-bottom: 30px;

			& .settings-label {
				color: yellow;
				font-size: 10px;
				margin-bottom: 5px;
				text-transform: capitalize;
			}
		}
	}

	& .toggle-start{
		width: 40%;
		padding: 5px;
		color: black;
		background: yellow;
		cursor: pointer;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		& > p{
			text-align: center;
		}

		&:hover {
			background: black;
			color: yellow;
		}
	}

	& .top-part{
		&.hide {
			& .settings-container-outer{
				display: none;
			}
			& .toggle-start{
				display: none;
			}
		}
	}
}

.param-driver-node {
	& .top-bottom-container {
		display: flex;
		justify-content: space-between;
		margin-top: 14px;
		align-items: flex-end;
	}
	& .duration-container {
		width: 40%;
		& > p{
			color: yellow;
			font-size: 10px;
			margin-top: 0;
			margin-bottom: 4px;
			text-align: left;
		}

		& > input {
			width: 100%;
			height: 20px;
			padding: 5px;
			background: black;
			color: yellow;
			border: 0;
		}
	}

	& .toggle-start{
		width: 40%;
		padding: 5px;
		color: black;
		background: yellow;
		cursor: pointer;
		& > p{
			text-align: center;
		}

		&:hover {
			background: black;
			color: yellow;
		}
	}
}

.sequencer{
	width: 354px;
	height: 310px;
	& .top-part{
		height: 270px;
		padding-left: 10px;
		position: relative;
	}

	& .bottom-part{
		height: 40px;
	}

	& .sequencer-controls {
		position: absolute;
		top: -41px;
		height: 40px;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		left: 50%;
		margin-left: -60px;
		width: 120px;
		background: #2b2c2d;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom: 1px solid #1B1C1E;

		& .inner-controls {
			display: flex;
			justify-content: space-between;

			> h5 {
				padding: 4px 8px;
				color: yellow;
				cursor: pointer;

			}
		}

	}

	& .sequencer-container{
		display: flex;
		flex-wrap: wrap;
		& .sequencer-col{
			width: 18px;
			display: flex;
			flex-wrap: wrap;
			margin-right: 3px;
			&:last-child {
				margin-right: 0;
			}
			&.active{
				& .sequencer-btn{
					background: rgba(230,230,230, .05);
					&.active{
						background: white;
					}
				}
			}

		}
		& .sequencer-btn{
			width: 18px;
			height: 18px;
			background: black;
			cursor: pointer;
			margin-bottom: 3px;
			&.active{
				background: #db664c;
			}
		}
	}
}

.no-height{
	height: auto;

	& .top-part {
		& .range-container {
			padding-left: 10px;
		    height: 200px;
		    color: white;
		    display: flex;
		    justify-content: center;
		}

		&.hide{
			& .range-container{
				display: none;
			}

			& .wave-type-container {
				display: none;
			}
		}
	}

	
}

.left-padding{
	& .top-part{
		padding-left: 10px;
	}
}



.canvas{
	width: 640px;
	height: 600px;
	& .top-part{
		padding: 0;
		position: relative;
		height: 84%;
	}

	& .bottom-part{
		height: 16%;

		& .bottom-part-settings {
			position: absolute;
			left: 16%;
			z-index: 1;
			display: flex;
			justify-content: space-between;
			padding: 10px 5px;

		}
	}

	& .camera-control-setting{
		margin-right: 40px;
	    color: white;
	    align-items: center;
	    justify-content: center;
	    position: relative;
	    width: 148px;
	    text-align: center;
		& .toggle-el {
			width: 20px;
			height: 20px;
			background: rgba(50,50,50,1.0);
			cursor: pointer;
			border-radius: 3px;
			margin-top: 8px;
			position: absolute;
			left: 50%;
			margin-left: -10px;

			&.enabled{
				background: rgba(255,255,0,1.0);
			}
		}
	}

	& .axes-helper-setting{
		margin-left: 40px;
	    color: white;
	    align-items: center;
	    justify-content: center;
	    position: relative;
	    width: 148px;
		& .toggle-el {
			width: 20px;
			height: 20px;
			background: rgba(50,50,50,1.0);
			cursor: pointer;
			border-radius: 3px;
			margin-top: 8px;
			position: absolute;
			left: 50%;
			margin-left: -10px;

			&.enabled{
				background: rgba(255,255,0,1.0);
			}
		}
	}
}

.texture-selector-node {
	& .wrapper {
		margin-left: 10px;
		color: white;
		margin-top: 10px;

		& .children-container {
			> h4 {
				margin-bottom: 10px;
				text-transform: capitalize;
			}

			& .child-wrapper {
				margin-left: 5px;
				margin-bottom: 5px;
				cursor: pointer;
				opacity: .8;

				&.active{
					color: yellow;
					opacity: 1;
				}

			}
		}
	}
}

